* {
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background-color: var(--light-pink);
    color: var(--pink);
    text-shadow: none;
}

html, body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom, var(--dark-purple), var(--dark-blue));
}

:root {
    --dark-blue: #413F8A;
    --light-purple: #8658a7;
    --dark-purple: #7C58AA;
    --light-pink: #fdb0f9;
    --pink: #D277BD;
    --beige: #fed6cd;
}

/*Inicio header*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 10000000;
}

.nav__img {
    height: 7rem;
    border-radius: 50%;
    user-select: none;
}

.nav__links-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
}

.nav__link {
    text-decoration: none;
    color: var(--beige);
    text-shadow: 0 0 10px var(--pink);
    font-size: 1.125rem;
    position: relative;
    filter: brightness(1);
    transition: filter .3s;
}

.nav__link-inicio {
    text-decoration: overline;
    text-decoration-color: var(--light-pink);
    text-decoration-style: wavy;
    
}

.nav__link:hover {
    filter: brightness(1.5);
}

.nav__link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--beige);
    height: 1px;
    width: 100%;
    transform: scale(0);
    transition: transform .3s linear;
    transform-origin: right;
}

.nav__link:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.nav__button {
    color: var(--dark-blue);
    background-color: var(--pink);
    border: 2px solid var(--light-pink);
    border-radius: 0.5rem;
    padding: .5em;
    font-weight: 1000;
    user-select: none;
    box-shadow: 0 5px 10px rgba(254, 214, 205, .5);
    transform: translateY(0rem);
    transition-property: box-shadow transform;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.nav__button:hover {
    box-shadow: 0 10px 20px rgba(254, 214, 205, .8);
    transform: translateY(-.2rem);
}

.nav__button:active {
    box-shadow: 0 10px 16px rgba(254, 214, 205, .5);
    transform: translateY(-.16rem);
}

#nav__mobile-menu {
    display: none;
}

#hamburguer , #cross {
    color: var(--beige);
    font-size: 1.7rem;
}

#cross, #hamburguer {
    display: none;
}

.nav__mobile-menu-title {
    display: none;
}

#nav__mobile-menu-icon {
    display: none;
}

.nav__mobile-menu-list-button-separation {
    display: none;
}

.nav__mobile-menu-bubble {
    display: none;
}

@media screen and (max-width: 768px){
    nav {
        display: block;
        max-width: 100vw;
    }

    #hamburguer {
        display: block;
        float: right;
        padding: 1rem;
        margin-top: 1.9rem;
        margin-right: 1rem;
        text-shadow: 0 0 10px var(--dark-blue);
    }

    .nav__cross-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 1rem;
    }

    #cross {
        display: flex;
        font-size: 2rem;
        padding: 1rem;
        border: 2px solid var(--beige);
        border-radius: 1rem;
    }

    .nav__mobile-menu-title {
        display: flex;
        font-weight: 1000;
        color: var(--pink);
        text-shadow: 1px 1px var(--dark-blue);
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    .nav__links-list {
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        flex-direction: column;
        position: fixed;
        z-index: 10000;
        right: -100%;
        top: 0;
        background-color: var(--light-purple);
        padding: 1rem;
        margin: 0rem;
        transition-property: right;
        transition-duration: 1s;
        gap: 0rem;
        justify-content: center;
        align-items: normal;
    }

    [type="checkbox"]:checked ~ .nav__links-list {
        right: 0%;
    }

    .nav__list-li {
        padding: .6rem;
    }

    #nav__mobile-menu-icon {
        display: inline-block;
        color: var(--beige);
        font-size: 1.25rem;
        margin-right: .5rem;
        padding: .5rem;
        border: 1px solid var(--light-pink);
        border-radius: 5px;
    }

    .nav__link {
        text-decoration: none;
        color: var(--light-pink);
        text-shadow: 0 0 10px var(--dark-blue);
        font-size: 1.25rem;
        position: relative;
        filter: brightness(1);
        transition: filter .3s;
    }

    .nav__link-inicio {
        color: var(--beige);
    }

    .nav__mobile-menu-list-button-separation {
        display: block;
        width: 90%;
        height: 1px;
        align-self: center;
        background-color: var(--light-pink);
        border: none;
        position: absolute;
        bottom: 6.5rem;
    }

    .nav__button {
        color: var(--dark-blue);
        background-color: var(--pink);
        border: 2px solid var(--beige);
        border-radius: 0.5rem;
        padding: .5em;
        font-size: 1.25rem;
        font-weight: 1000;
        user-select: none;
        box-shadow: 0 5px 10px rgba(254, 214, 205, .5);
        transform: translateX(-50%) translateY(0rem);
        transition-property: box-shadow transform;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        position: absolute;
        bottom: 3rem;
        left: 50%;
    }
    
    .nav__button:hover {
        box-shadow: 0 10px 20px rgba(254, 214, 205, .8);
        transform: translateX(-50%) translateY(-.2rem);
    }
    
    .nav__mobile-menu-bubble {
        display: block;
        position: absolute;
        z-index: -19;
        transform: translateY(0);
        animation-name: bubble-movement;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-iteration-count: infinite;
        animation-direction: alternate;
        user-select: none;
    }

    .nav__bubble-1 {
        height: 3rem;
        left: 14em;
        bottom: 10rem;
        animation-delay: .25s;
    }

    .nav__bubble-2 {
        height: 7rem;
        left: 2rem;
        bottom: 6rem;
        animation-delay: 0;
    }
    
    .nav__bubble-3 {
        height: 8rem;
        left: 2rem;
        bottom: 32rem;
        animation-delay: .5s;
    }

    .nav__bubble-4 {
        height: 11rem;
        left: 12em;
        bottom: 15rem;
        animation-delay: .75s;
    }

    .nav__bubble-5 {
        height: 13rem;
        left: 13em;
        bottom: 25rem;
        animation-delay: .1s;
    }

    @keyframes bubble-movement {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-.3rem);
        }
    }
}

/*Final header*/
/*Inicio Hero Section*/

.hero-section__container {
    max-width: 100vw;
    height: 90vh;
    text-align: center;
    padding: 0 1rem;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section__img-container {
    height: calc(10rem + 1px);
    width: 100%;
    border-bottom: 1px solid rgb(48, 15, 75);
    margin: 1rem 0;
}

.hero-section__img {
    height: 10rem;
    user-select: none;
}

.hero-section__title {
    font-size: 1.875rem;
    color: var(--pink);
    font-weight: 1000;
    text-shadow: 0 0 20px var(--dark-blue);
    padding: 1rem 0;
    width: 90%;
    margin: auto;
    padding-bottom: 1.5rem;
}

.hero-section__subtitle {
    width: 100%;
    font-size: .875rem;
    color: var(--beige);
    text-shadow: 0 0 20px var(--dark-blue);
}

.hero-section__explore-title {
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--light-pink);
}

.hero-section__explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    min-width: 2.5rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    border-radius: 50%;
    border: 3px solid var(--beige);
    background-color: var(--light-purple);
    margin: 1rem auto;
    overflow: hidden;
}

.arrow-down {
    color: var(--light-pink);
    font-size: 1rem;
    padding: 2.5em;
}

/*Final Hero Section*/
/*Inicio Services Section*/

.services-section__container {
    max-width: 100vw;
    text-align: center;
    padding: 0 1rem;
    margin: 3rem 0;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.services-section__title-text-container {
    margin: 1rem auto;
    max-width: 80%;
}

.services-section__title-decoration-container {
    position: relative;
    width: 14.3rem;
    height: fit-content;
    margin: 2em auto;
    margin-top: 4rem;
}

.services-section__title-small-bubble {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: var(--pink);
    border: 4px solid var(--beige);
    position: absolute;
    z-index: -1;
    right: -1.3rem;
    top: .5rem;
}

.services-section__title-big-bubble {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: var(--pink);
    border: 6px solid var(--beige);
    position: absolute;
    right: -.25rem;
    top: 1rem;
    z-index: -1;
}

.services-section__title-container {
    margin: 0 auto;
    width: 13rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    border: 10px solid var(--beige);
    border-radius: 50%;
}

.services-section__title {
    color: var(--beige);
    font-weight: 1000;
}

.services-section__services-container {
    display: flex;
    flex-direction: column;
}

.services-section__services-intro-container {
    margin-bottom: 1rem;
}

.services-section__services-intro {
    color: var(--light-pink);
    font-size: .875rem;
}

.services-section__intro-services-separation {
    width: 80vw;
    border: 1px dashed var(--beige);
    margin: auto;
}

.services-section__service-container {
    padding: 1em;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgb(167, 167, 240);
    margin-top: 1rem;
}

.services-section__service-img {
    height: 10rem;
    padding: 1rem;
    margin: auto;
}

.services-section__service-title {
    color: var(--light-pink);
    text-shadow: 0 0 40px #ffcbfc;
    margin-bottom: 1rem;
}

.services-section__service-text {
    color: var(--beige);
}

/*Final Services Section*/

.process-section-separation {
    border-bottom: 3px solid var(--beige);
    margin: 0;
}

/*Inicio Process Section*/

.process-section__bg-container {
    background-color: var(--pink);
}

.process-section__container {
    margin: 0 auto;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    position: relative;
}

.process-section__title-container {
    background: linear-gradient(to top, #563f8a, var(--pink));
    padding: 1.5rem .5rem;
    width: 90%;
    margin: auto;
    box-shadow: 0 2px 10px var(--light-pink);
    border: 3px solid var(--beige);
    border-radius: 1rem;
    position: absolute;
    top: -2.7rem;
    left: 50%;
    transform: translateX(-50%);
}

.process-section__title {
    color: var(--beige);
    font-size: 1.7rem;
    font-weight: 1000;
}

.process-section__intro-container {
    margin-bottom: 2rem;
    padding: .5rem;
    border: 2px dashed var(--beige);
    box-shadow: 0 0 10px var(--beige);
    background: linear-gradient(to bottom, var(--dark-purple), var(--dark-blue));
}

.process-section__intro {
    color: var(--beige);
    font-size: .875rem;
}

.process-section__process-container {
    margin-top: 1rem;
    border-top: 3px dotted var(--light-pink);
    padding-top: 2rem;
}

.process-section__process-title-container {
    color: var(--dark-blue);
    text-shadow: 0 0 10px var(--beige);
    text-decoration-color: var(--light-pink);
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    font-weight: 800;
}

.process-section__process-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--light-purple);
    border: 2px solid var(--beige);
    color: var(--beige);
    border-radius: 50%;
    font-size: 2.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px var(--beige);
}

.process-section__process-text {
    color: var(--beige);
    text-shadow: 0 0 10px var(--dark-purple);
}

.process__strong-words {
    color: var(--light-pink);
    text-shadow: 0 0 10px var(--dark-purple);
    font-size: 1.1rem;
}

.process-section__process-img-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: linear-gradient(to bottom, var(--dark-purple), var(--dark-blue));
    box-shadow: 0 0 10px var(--beige);
    border: 2px dashed var(--beige);
    margin: 1.5rem auto;
    margin-bottom: 2.5rem;
}

.process-section__process-img {
    height: 12em;
    width: 12rem;
    border-radius: .3rem;
}

/*Final Process Section*/

/*Inicio Testimonies Section*/

.testimonies-section__container {
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: auto;
}

.testimonies-section__title-container {
    margin-bottom: 3rem;
}

.testimonies-section__title {
    text-align: center;
    line-height: 2.5rem;
    text-decoration: underline var(--light-pink) dotted;
    text-underline-offset: 5px;
    color: var(--beige);
    font-weight: 1000;
    font-size: 2rem;
}

.testimonies-section__intro-container {
    margin-bottom: 3rem;
}

.testimonies-section__intro {
    color: var(--pink);
    text-align: center;
    font-size: 1rem;
}

.testimonies-section__slide-show-text {
    color: var(--beige);
    text-align: center;
    margin: .5rem 0;
}

.testimonies-section__slide-show-arrow {
    color: var(--pink);
}

.testimonies-section__pc-testimonies-container {
    display: none;
}

.testimonies-section__mobile-testimonies-container {
    display: flex;
    height: fit-content;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin: auto;
}

.testimonies-section__mobile-testimony-container {
    padding: 1rem;
    background-color: var(--beige);
    border-radius: 1rem;
    min-width: 100%;
    scroll-snap-align: center;
    margin-right: 3rem;
}

.mobile-testimony-1 {
    margin-left: 3rem;
}

.mobile-testimony-5 {
    margin-right: 3rem;
}

.testimonies-section__testimony-img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: .5rem;
}

.testimonies-section__testimony-name {
    color: var(--dark-purple);
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.testimony__strong-words {
    color: var(--dark-blue);
}

.testimonies-section__testimony-text {
    color: var(--dark-blue);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

/*Final Testimonies Section*/

@media screen and (min-width:425px) {
.nav__bubble-1 {
    left: 22em;
}

.nav__bubble-2 {
    left: 10rem;
}
    
.nav__bubble-3 {
    left: 10rem;
}

    .nav__bubble-4 {
    left: 20em;
}

.nav__bubble-5 {
    left: 21em;
}

.hero-section__container {
    width: 425px;
    margin: auto;
}

.hero-section__title {
    font-size: 2rem;
}

.hero-section__subtitle {
    font-size: 1rem;
}

.hero-section__img-container {
    height: calc(12rem + 1px);
    width: 70%;
    margin: 1rem auto;
}

.hero-section__img {
    height: 12rem;
}

.hero-section__explore-title {
    font-size: 1.125rem;
}

.hero-section__explore-button {
    min-height: 4rem;
    min-width: 4rem;
    max-height: 4rem;
    max-width: 4rem;
}

.arrow-down {
    font-size: 2rem;
}

.services-section__container {
    width: 425px;
    margin: 3rem auto;
}

.services-section__title-decoration-container {
    width: 16rem;
}

.services-section__title-small-bubble {
    height: 3em;
    width: 3em;
    right: -1.6rem;
    top: .8rem;
}

.services-section__title-big-bubble {
    height: 4em;
    width: 4em;
    right: -.6rem;
    top: 1.3rem;
}

.services-section__title-container {
    width: 15rem;
    height: 13rem;
}

.services-section__title {
    font-size: 1.9rem;
}

.services-section__services-intro {
    font-size: 1rem;
}

.services-section__intro-services-separation {
    width: 100%;
}

.services-section__service-img {
    height: 10.125rem;
}

.services-section__service-title {
    font-size: 1.5rem;
}

.services-section__service-text {
    font-size: 1rem;
}

.process-section__container {
    padding-top: 7rem;
    width: 425px;
}

.process-section__title-container {
    top: -2.9rem;
}

.process-section__title {
    font-size: 2rem;
}

.process-section__intro-container {
    padding: .8rem;
}

.process-section__intro {
    font-size: 1rem;
}

.process-section__process-title-container {
    font-size: 1.375rem;
}

.process-section__process-text {
    font-size: 1.125rem;
}

.process__strong-words {
    font-size: 1.25rem;
}

.process-section__process-img {
    height: 13em;
    width: 13rem;
}

.testimonies-section__container {
    width: 425px;
}

.testimonies-section__title-container {
    margin: auto;
    margin-bottom: 3rem;
    width: 90%;
}

.testimonies-section__title {
    line-height: 2.7rem;
    font-size: 2.25rem;
}

.testimonies-section__intro {
    font-size: 1.125rem;
}

.testimonies-section__slide-show-text {
    font-size: 1rem;
}

.testimonies-section__testimony-img {
    height: 7rem;
    width: 7rem;
}

.testimonies-section__testimony-name {
    font-size: 1.375rem;
}

.testimonies-section__testimony-text {
    font-size: 1.125rem;
}
}

@media screen and (min-width:580px){
    .nav__bubble-1 {
        left: 27em;
    }
    
        .nav__bubble-2 {
        left: 15rem;
    }
        
    .nav__bubble-3 {
        left: 15rem;
    }
    
        .nav__bubble-4 {
        left: 25em;
    }
    
    .nav__bubble-5 {
        left: 26em;
    }
}

@media screen and (min-width:768px) {

    .hero-section__container {
        width: 768px;
    }

    .hero-section__title {
        font-size: 2.75rem;
        width: 75%;
    }
    
    .hero-section__subtitle {
        font-size: 1.125rem;
        width: 90%;
        margin: auto;
        line-height: 1.5rem;
    }

    .hero-section__img-container {
        height: calc(13rem + 1px);
    }

    .hero-section__img {
        height: 13rem;
    }

    .hero-section__explore-title {
        font-size: 1.25rem;
    }
    
    .hero-section__explore-button {
        min-height: 4.525rem;
        min-width: 4.525rem;
        max-height: 4.525rem;
        max-width: 4.525rem;
    }
    
    .arrow-down {
        font-size: 2.525rem;
    }

    .services-section__container {
        width: 768px;
    }
    
    .services-section__title-decoration-container {
        width: 18rem;
    }
    
    .services-section__title-small-bubble {
        height: 3.5em;
        width: 3.5em;
        right: -2.3rem;
        top: .4rem;
    }
    
    .services-section__title-big-bubble {
        height: 5em;
        width: 5em;
        right: -1rem;
        top: 1rem;
    }
    
    .services-section__title-container {
        width: 17rem;
        height: 15rem;
    }
    
    .services-section__title {
        font-size: 2.3rem;
    }

    .services-section__services-container {
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .services-section__services-intro {
        font-size: 1.2rem;
    }

    .services-section__intro-services-separation {
        margin: 1rem auto;
        margin-bottom: 1.5rem;
    }

    .services-section__service-container {
        min-width: 45%;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        margin: .5rem;
    }
    
    .services-section__service-img {
        height: 10.25rem;
    }
    
    .services-section__service-title {
        font-size: 1.625rem;
    }
    
    .services-section__service-text {
        font-size: 1.125rem;
    }

    .process-section__container {
        padding-top: 7.5rem;
        width: 768px;
    }

    .process-section__title-container {
        padding: 1.5rem 0rem;
        width: 60%;
    }

    .process-section__process-number-container {
        width: 6rem;
        height: 6rem;
        font-size: 2.75rem;
    }
    
    .process-section__title {
        font-size: 2.125rem;
    }

    .process-section__intro-container {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    
    .process-section__intro {
        font-size: 1.125rem;
    }
    
    .process-section__process-title-container {
        font-size: 1.5rem;
    }
    
    .process-section__process-text {
        font-size: 1.25rem;
    }
    
    .process__strong-words {
        font-size: 1.375rem;
    }
    
    .process-section__process-img {
        height: 14em;
        width: 14rem;
    }

    
.testimonies-section__container {
    width: 768px;
}

.testimonies-section__title-container {
    margin-bottom: 4rem;
}

.testimonies-section__title {
    font-size: 2.375rem;
}

.testimonies-section__intro {
    font-size: 1.25rem;
}

.testimonies-section__slide-show-text {
    font-size: 1.125rem;
}

.testimonies-section__testimony-img {
    height: 8rem;
    width: 8rem;
}

.testimonies-section__testimony-name {
    font-size: 1.5rem;
}

.testimonies-section__testimony-text {
    font-size: 1.25rem;
}
}

@media screen and (min-width:1024px) {
    
    .hero-section__container {
        width: 1024px;
    }

    .hero-section__title {
        font-size: 2.875rem;
    }
    
    .hero-section__subtitle {
        font-size: 1.25rem;
    }

    .hero-section__explore-title {
        font-size: 1.375rem;
        margin-top: 2rem;
    }
    
    .hero-section__explore-button {
        min-height: 4.65rem;
        min-width: 4.65rem;
        max-height: 4.65rem;
        max-width: 4.65rem;
    }
    
    .arrow-down {
        font-size: 2.65rem;
    }

    .services-section__container {
        width: 1024px;
    }

    .services-section__title-text-container {
        margin-bottom: 3rem;
    }
    
    .services-section__title-decoration-container {
        width: 20rem;
    }
    
    .services-section__title-small-bubble {
        height: 4em;
        width: 4em;
    }
    
    .services-section__title-big-bubble {
        height: 6em;
        width: 6em;
    }
    
    .services-section__title-container {
        width: 19rem;
        height: 17rem;
    }
    
    .services-section__title {
        font-size: 2.6rem;
    }
    
    .services-section__services-intro {
        font-size: 1.3rem;
    }

    .services-section__intro-services-separation {
        margin-bottom: 1.5rem;
    }
    
    .services-section__service-img {
        height: 10.5rem;
    }
    
    .services-section__service-title {
        font-size: 1.75rem;
    }
    
    .services-section__service-text {
        font-size: 1.25rem;
    }

    .process-section__container {
        padding-top: 8.3rem;
        width: 1024px;
    }

    .process-section__title-container {
        width: 50%;
        top: -3.1rem;
    }
    
    .process-section__title {
        font-size: 2.5rem;
    }

    .process-section__intro-container {
        margin: auto;
        width: 70%;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .process-section__intro {
        font-size: 1.25rem;
    }
    
    .process-section__process-title-container {
        font-size: 1.625rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .process-section__process-number-container {
        width: 6.625rem;
        height: 6.625rem;
        font-size: 3.125rem;
    }

    .process-section__process-text-img-container {
        display: flex;
    }
    
    .process-section__process-text {
        font-size: 1.375rem;
        align-self: center;
        text-align: left;
        margin-left: 2rem;
    }
    
    .process__strong-words {
        font-size: 1.5rem;
    }

    .process-section__process-img-container {
        margin: 1rem 2rem;
    }
    
    .process-section__process-img {
        min-height: 15em;
        min-width: 15rem;
    }

    .testimonies-section__container {
        width: 1024px;
    }
    
    .testimonies-section__title-container {
        margin-top: 3rem;
        margin-bottom: 6.5rem;
        width: 80%;
    }
    
    .testimonies-section__title {
        font-size: 2.5rem;
        line-height: 3.2rem;
        text-underline-offset: 8px;
    }

    .testimonies-section__intro-container {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }
    
    .testimonies-section__intro {
        font-size: 1.375rem;
    }
    
    .testimonies-section__slide-show-text {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .testimonies-section__mobile-testimonies-container {
        width: 80%;
    }
    
    .testimonies-section__testimony-img {
        height: 9rem;
        width: 9rem;
    }
    
    .testimonies-section__testimony-name {
        font-size: 1.625rem;
    }
    
    .testimonies-section__testimony-text {
        font-size: 1.375rem;
    }
}

@media screen and (min-width:1025px) {

    nav {
        width: calc(100vw - 10px);
    }

    body::-webkit-scrollbar {
        width: 10px;
        background-color: var(--light-pink);
        position: relative;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: var(--pink);
        border: 2px solid var(--beige);
        position: relative;
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: var(--light-purple);
    }

    .testimonies-section__mobile-testimonies-container {
        display: none;
    }

    [type="radio"] {
        display: none;
    }

    .testimonies-section__slide-show-text {
        display: none;
    }

    .testimonies-section__pc-testimonies-container {
        display: flex;
        width: 100%;
        height: fit-content;
        margin: auto;
        overflow: hidden;
    }

    .testimonies-section__pc-testimony-container {
        min-width: 40%;
        margin-left: 3rem;
        padding: 1rem;
        background-color: var(--beige);
        border-radius: 1rem;
    }

    .pc-testimony-1 {
        margin-left: 0;
    }
}

@media screen and (min-width:1440px) {
    .hero-section__container {
        width: 1440px;
    }

    .hero-section__img-container {
        height: calc(14rem + 1px);
    }

    .hero-section__img {
        height: 14rem;
    }

    .hero-section__title {
        font-size: 3rem;
    }
    
    .hero-section__subtitle {
        font-size: 1.375rem;
        line-height: 1.75rem;
    }

    .hero-section__explore-title {
        font-size: 1.5rem;
        width: 50%;
        margin: auto;
        margin-top: 2rem;
    }
    
    .hero-section__explore-button {
        min-height: 4.875rem;
        min-width: 4.875rem;
        max-height: 4.875rem;
        max-width: 4.875rem;
    }
    
    .arrow-down {
        font-size: 2.875rem;
    }

    .services-section__container {
        width: 1440px;
        padding-bottom: 6rem;
    }

    .services-section__title-text-container {
        margin-bottom: 4rem;
    }
    
    .services-section__title-decoration-container {
        width: 22rem;
    }
    
    .services-section__title-small-bubble {
        height: 4.5em;
        width: 4.5em;
    }
    
    .services-section__title-big-bubble {
        height: 7em;
        width: 7em;
    }
    
    .services-section__title-container {
        width: 21rem;
        height: 19rem;
    }
    
    .services-section__title {
        font-size: 2.8rem;
    }
    
    .services-section__services-intro {
        font-size: 1.375rem;
    }
    
    .services-section__service-img {
        height: 11rem;
    }
    
    .services-section__service-title {
        font-size: 1.875rem;
    }
    
    .services-section__service-text {
        font-size: 1.375rem;
    }

    .process-section__container {
        padding-top: 8.9rem;
        width: 1440px;
    }

    .process-section__title-container {
        width: 50%;
        top: -3.3rem;
    }
    
    .process-section__title {
        font-size: 2.75rem;
    }

    .process-section__intro-container {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    
    .process-section__intro {
        font-size: 1.375rem;
    }
    
    .process-section__process-title-container {
        font-size: 1.75rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .process-section__process-number-container {
        width: 6.75rem;
        height: 6.75rem;
        font-size: 3.25rem;
    }

    .process-section__process-text {
        font-size: 1.5rem;
    }
    
    .process__strong-words {
        font-size: 1.625rem;
    }
    
    .process-section__process-img {
        min-height: 16em;
        min-width: 16rem;
    }
}

@media screen and (min-width:1920px) {
    .hero-section__container {
        width: 1920px;
    }
    .hero-section__img-container {
        height: calc(16rem + 1px);
        width: 75%;
    }

    .hero-section__img {
        height: 16rem;
    }

    .hero-section__title {
        font-size: 3.5rem;
    }
    
    .hero-section__subtitle {
        font-size: 1.75rem;
    }

    .hero-section__explore-title {
        font-size: 1.625rem;
        margin: 1em auto;
        margin-top: 5rem;
    }
    
    .hero-section__explore-button {
        min-height: 5rem;
        min-width: 5rem;
        max-height: 5rem;
        max-width: 5rem;
    }
    
    .arrow-down {
        font-size: 3rem;
    }

    .services-section__container {
        width: 1920px;
        padding-bottom: 7rem;
    }
    
    .services-section__title-decoration-container {
        width: 24rem;
    }
    
    .services-section__title-small-bubble {
        height: 5em;
        width: 5em;
    }
    
    .services-section__title-big-bubble {
        height: 8em;
        width: 8em;
    }
    
    .services-section__title-container {
        width: 23rem;
        height: 21rem;
    }
    
    .services-section__title {
        font-size: 3.125rem;
    }
    
    .services-section__services-intro {
        font-size: 1.5rem;
    }
    
    .services-section__service-img {
        height: 12rem;
    }
    
    .services-section__service-title {
        font-size: 2rem;
    }
    
    .services-section__service-text {
        font-size: 1.5rem;
    }

    .process-section__container {
        padding-top: 9.5rem;
        width: 1920px;
    }

    .process-section__title-container {
        width: 40%;
        top: -3.5rem;
    }
    
    .process-section__title {
        font-size: 3rem;
    }

    .process-section__intro-container {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .process-section__intro {
        font-size: 1.5rem;
    }
    
    .process-section__process-title-container {
        font-size: 1.875rem;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }

    .process-section__process-number-container {
        width: 6.875rem;
        height: 6.875rem;
        font-size: 3.375rem;
    }

    .process-section__process-text-img-container {
        display: flex;
        justify-content: center;
    }

    .process-section__process-text {
        font-size: 1.625rem;
        width: 50%;
        margin: 0;
    }
    
    .process__strong-words {
        font-size: 1.75rem;
    }
    
    .process-section__process-img {
        min-height: 17em;
        min-width: 17rem;
        margin: 0;
    }
}